{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Administración</title>

    <link rel="stylesheet" href="{% static 'core/css/jquery-confirm.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    {% block blcss %}

    {% endblock %}

</head>

<body>

    <header class="encabezado">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: left; width: 10%;">
                        <div>
                            <img class="logo" src="{% static 'core/img/logo.jpg' %}" alt="logo">
                        </div>
                    </td>
                    <td style="text-align: left; margin-left: 45px; font-size: xx-large; width: 30%;">
                        U. H. Villas Azcapotzalco
                    </td>
                    <td style="text-align: left; width: 60%;">
                        <div >
                            <nav>
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li><a class="menu" href="{% url 'index' %}"> Home</a> </li>
                                    <li><a class="menu" href="{% url 'consulta_deudas' %}"> Adeudos</a> </li>
                                    <li><a class="menu" href="{% url 'consulta_cobros' %}"> Cobros</a> </li>
                                    <li><a class="menu" href="{% url 'genera_recibos' %}"> Genera recibos</a> </li>
                                    <li><a class="menu" href="{% url 'cambiar_contrasena' %}"> Cambiar contraseña</a> </li>
                                    <li><a class="menu" href="{% url 'logout'%}">Logout</a></li>
                                    <li><a class="menu" href="#" style="color:gold">Usuario : {{ user.username }}</a> </li>
                                    {% else %}
                                    <li><a class="menu" href="{% url 'login'%}">Login</a> </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </header>

    <div id="contenido">

        {% block contenido %}

        {% endblock %}

    </div>


    <footer>
        <div class="marcas">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="logo_footer">
            <img src="" alt="">
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static 'core/js/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'core/js/funciones.js' %}"></script>
        
    <script>
        $(document).ready(function () {
            
        });
    </script>
    {% block bljs %}

    {% endblock %}

</body>

</html>