{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
<div class="container" style="margin-left: 100px; margin-top: 50px;">
<h2 class="mt-2">Adeudos</h2>
<form action="{% url 'consulta_deudas' %}"> {% csrf_token %}
    <button><a href="{% url 'index' %}">Salir</a> </button>
    <table style="padding: 5px; ">
        <tr>
            <td style="padding: 5px;">Edificio</td>
            <td style="padding: 5px;">Departamento</td>
            <td style="padding: 5px;">Servicio</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <select name="edificio" id="edificio" class="form-control" style="font-size: 20px;" required>
                    <option value="00">Todos</option>
                    {% for e in edificios %}
                    <option value="{{ e.numero }}">{{ e.numero }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="depto" id="depto" class="form-control" style="font-size: 20px;" required>
                    <option value="000">Todos</option>
                    {% for d in deptos %}
                    <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="servicio" id="servicio" class="form-control" style="font-size: 20px;" required>
                    <option value="0">Todos</option>
                    {% for s in servicios %}
                    <option value="{{ s.id }}">{{ s.descripcion }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="submit" value="Actualizar">
            </td>
        </tr>
    </table>
    <div class="container" style="width: 560px; height: 350px; overflow: auto; position: absolute;
         margin-top: 30px; margin-left: 20px; border-color: darkgray; border-style: solid; border-width: 1px;">
        <table style="width: 550px; max-height: 500px;">
            <thead>
                <tr>
                    <th style="text-align: center;">Edificio</th>
                    <th style="text-align: center;">Departamento</th>
                    <th style="text-align: center;">Servicio</th>
                    <th style="text-align: center;">Adeudos</th>
                </tr>
            </thead>
            <tbody>
                {% for p in object_list %}
                <tr>
                    <td style="text-align: center;">{{ p.edificio }}</td>
                    <td style="text-align: center;">{{ p.depto }}</td>
                    <td style="text-align: left;">
                    {% for s in servicios %}
                    {% if s.id == p.servicio %}
                    {{ s.descripcion }}
                    {% endif %}
                    {% endfor %}
                    </td>
                    <td style="text-align: center;">{{ p.dcount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
</div>
<script>
    $(document).ready(function () {
        $("#edificio").val('{{ edificio }}').change();
        $("#depto").val('{{ depto }}').change();
        $("#servicio").val('{{ servicio }}').change();
    });
</script>
{% endblock %}