{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
<div class="container" style="margin-left: 100px; margin-top: 50px;">
<form method="post"> 
    {% csrf_token %}
    <div class="container" style="width: 500px; height: 250px; overflow: auto; position: absolute;
         margin-top: 30px; margin-left: 20px; border-color: darkgray; border-style: solid; border-width: 1px;
         text-align: center;">
        <h2 class="mt-2">Genera recibos</h2>
        <input type="submit" value="Hecerlos">
        <button><a href="{% url 'index' %}">Regresar</a></button>
        <br><br>
         Fecha
         <br><br>
        <table style="margin-left: 9px;">
            <tr>
                <td style="text-align: center;">Servicio</td>
                <td style="text-align: center;">Año</td>
                <td style="text-align: center;">Mes</td>
            </tr>
            <tr>
                <td>
                    <select name="servicio" id="id_servicio" class="form-control" style="font-size: 20px;" required>
                        {% for s in servicios %}
                        <option value="{{ s.id }}">{{ s.descripcion }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                <select name="anio" id="id_anio" class="form-control" style="font-size: 20px;" required>
                    {% for a in anio %}
                    <option value="{{ a }}">{{ a }}</option>
                    {% endfor %}
                </select>
                </td>
                <td>
                <select name="mes" id="id_mes" class="form-control" style="font-size: 20px;" required>
                    {% for m in mes %}
                    <option value="{{ m.mes }}">{{ m.nombre }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
        </table>
    </div>
</form>
</div>
{% endblock %}